.bodycontainer{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(64,64,64,0.18);
    border-radius: 10px;
  }
.filterBar{
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: 60px;
    background-color: rgb(64,64,64,0.1);
    margin-bottom: 20px;
}
.modalBackdrop {
  height: 106vh;
  width: 106vw;
}

.searchBar {
  width: inherit;
  border-radius: 8px;
  border-width: 1px;
  margin-bottom: 10px;
}

.searchButton {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
}
